.featured__container {
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    // у этого свойства нет значения baseline, только у align-items
    justify-content: baseline;
    // я бы лучше паддинг использовал для увеличения пространства вверху внизу
    margin: 200px auto;
}

.featured__title h2 {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.featured__menu {
    padding-top: 26px;
    padding-bottom: 26px;
    background: #23263C;
    border: 1px solid #5BD2BD;
}

.featured__menu ul {
    list-style: none;
    display: flex;
    margin-right: 40px;
    gap: 130px;
    background: none;
}

// ну и если делаешь по БЭМ, то этих каскадов лучше избегать
.featured__menu ul > li {
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
    opacity: 0.5;
    background: none;
}

// так, а вот эти глобальные стили тебе зачем тут
// у тебя в модуле Header такие есть ужу
// лучше их вобще в index.css определить, раз они глобальные
a:link {
    color: #FFFFFF;
    text-decoration: none;
    background: transparent;
}

a:active {
    color: #3B7C70;
}

a:visited {
    color: #ffffff;
}

@media (max-width: 970px) {

    .featured__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .featured__title h2 {
        font-size: 70px;
    }
    .featured__menu {
        background: none;
    }
    .featured__menu ul {
        gap: 60px;
    }
}

@media(max-width: 700px) {
    .featured__title h2 {
        font-size: 50px;
    }
    .featured__menu ul {
        gap: 40px;
    }
}
@media (max-width: 620px) {
    .featured__menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }
}
