.featured__container {
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin: 200px auto;
}

.featured__title h2 {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.featured__menu {
    padding-top: 26px;
    padding-bottom: 26px;
    background: #23263C;
    border: 1px solid #5BD2BD;
}

.featured__menu ul {
    list-style: none;
    display: flex;
    margin-right: 40px;
    gap: 130px;
    background: none;
}

.featured__menu ul > li {
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
    opacity: 0.5;
    background: none;
}

@media (max-width: 970px) {

    .featured__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .featured__title h2 {
        font-size: 70px;
    }
    .featured__menu {
        background: none;
    }
    .featured__menu ul {
        gap: 60px;
    }
}

@media(max-width: 700px) {
    .featured__title h2 {
        font-size: 50px;
    }
    .featured__menu ul {
        gap: 40px;
    }
}
