.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 360px;
    margin-top: 170px;
    gap: 40px;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    text-decoration-line: line-through;
    color: #FFFFFF;
}

td, th {
    padding: 10px 40px;
    text-align: left;
}

.table th {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
}

.table td {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: none;
}

.join {
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 60px;
    background: #3B7C70;
    border-radius: 50px;
    border: none;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.inner__button {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background: #262E48;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

@media(max-width: 890px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}